/* Increase font sizes on mobile */
@media (max-width: 1024px) {
    body {
        font-size: 24px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 24px;
    }

    label {
        font-size: 24px;
    }

    input[type="number"],
    input[type="range"],
    button {
        font-size: 24px;
        padding: 12px !important;
    }
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

/* Gradient and Shadow Utility */
.gradient-primary {
    background: linear-gradient(to right, rgb(5, 150, 105), rgb(34, 197, 94), rgb(163, 230, 53));
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/* Accordion Chevron Icon */
.accordion-chevron {
    width: 1rem;
    height: 1rem;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
}